@import "tailwindcss";

:root {
  --background: #FBFFFB;
  --foreground: #1a1a1a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "Uthmanic";
  src: url("https://fonts.cdnfonts.com/css/uthmanic") format("truetype");
  font-weight: 400;
  font-style: normal;
}
